.viewgame-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viewgame-container .descricao{
    max-width: 34em;
}
.viewgame-container .tags{
    display: flex;
}

.viewgame-container .tags p{
    margin-left: .5em;
}

.box{
    display: flex;
}

.box .form{
    
    background-color: #ccc;
    opacity: 90%;
    margin-left: 2em;
    margin-top: -8em;
    padding: .3em;
    width: 13em;
}

.box .form label{
    
    
    flex: 1;
}

/* max device width */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .viewgame-container .tags{
        margin-left: 1.3em;
    }
    .viewgame-container .descricao{
        padding: 0px 2em;
    }
}