.tutorial-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tutorial-container iframe{
    width: 520px;
    height: 315px;
}

/* max device width */
@media only screen and (max-width: 600px) {
	.tutorial-container iframe{
        width: 20em;
        height: 15em;
    }
}