.banner{
    height: 10em;
    display: flex;   
    background-color: #ccc;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('https://images.unsplash.com/photo-1610165539750-051008c3e799?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80') repeat-x;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.banner div{
    margin-top: -1em;
    margin-left: 2em;
}

.banner img{
    opacity: 0.8;
    height: 100%;
}

/* max device width */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .banner h2{
        font-size: 17px;
    }
    .banner {
       text-overflow:unset;
    }
}