.banner{
    height: 10em;
    display: flex;   
    background-color: #ccc;
}

.banner div{
    margin-top: -1em;
    margin-left: 2em;
}

.banner img{
    opacity: 0.8;
    height: 100%;
}