.grid-card{
    width: 25em;
    height: 20em;
    
    display: flex;
    flex-direction: column;
}

.grid-card h3{ 
    text-align: center;
}
.grid-card img{
    width: 100%;
}

.grid-card .btn{
    margin: 0 auto;
    position: relative;
    top: -50px;
}