.nav-container{
  display: flex;
  height: 9em;
  box-shadow: rgba(0,0,0,.15) 0px -2px 10px 0px;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;
  padding: .3em 2em;
}

.nav-container .logo{
  width: 150px;
  height: 150px;
  line-height: 150px;
  background-color: blanchedalmond;
}

.lista{
  display: flex;
  list-style: none;
}

.lista li{
  margin-right: 1em;
}

.links_list li a{
  padding: .4em .6em;
}

.active{
  background-color: #000;
  color:#fff;
}